@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Inter-Regular.ttf');
}
@font-face {
	font-family: 'Inter';
	font-style: bold;
	font-weight: 700;
	src: url('/fonts/Inter-Bold.ttf');
}