html[data-theme='dark'] {
    /* Global */
	--clr-txt: #fff;
	--clr-txt-2: #e6e6e6;
	--clr-bg: #000;
	--clr-bg-2: #171717;
	--clr-bg-3: #1e1e1e;
    --clr-svg: #fff;
}

html[data-theme='light'] {
    /* Global */
	--clr-txt: #000;
	--clr-txt-2: #1a1a1a;
	--clr-bg: #fff;
	--clr-bg-2: #b3b3b3;
	--clr-bg-3: #dbdbdb;
    --clr-svg: #000;
}